name: Test

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}.${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    services:
      redis:
        image: redis:6.2
        ports:
          - 6999:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    permissions:
      contents: read
      actions: read
      checks: write

    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Amsterdam"

      - uses: actions/checkout@v4

      - uses: gerlero/apt-install@v1
        with:
          packages: build-essential git libcurl4-openssl-dev curl libssl-dev
          install-recommends: false

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.lock

      - name: Install application requirements (pip)[${{ matrix.python-version }}]
        run: uv sync

      - uses: astral-sh/ruff-action@v3

      - name: Get latest release
        id: release
        run: |
          LATEST_RELEASE=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r '.tag_name')
          echo "version_release = $LATEST_RELEASE"
          echo "version_release = $LATEST_RELEASE"  >> $GITHUB_OUTPUT

      - name: Get PR version
        id: project
        run: |
          PROJECT_VERSION=$(grep -oP '(?<=__version__ = ")[^"]+' notifications_utils/version.py)
          echo "version_pr=$PROJECT_VERSION"
          echo "version_pr=$PROJECT_VERSION"  >> $GITHUB_OUTPUT

      - name: Check project and latest release versions
        id: compare
        run: |
          set -e

          echo "Latest Github release tag: ${{ steps.release.outputs.version_release }}"
          echo "Project version [EventsHandler.csproj]: ${{ steps.project.outputs.version_project }}"

          compare_versions() {
            local v1=(${1//./ })  # Split LATEST_RELEASE into array
            local v2=(${2//./ })  # Split PROJECT_VERSION into array

            for i in {0..2}; do
              if [[ ${v1[i]:-0} -lt ${v2[i]:-0} ]]; then
                echo "✅  PROJECT_VERSION is higher :: [$1 < $2]"
                return 0
              elif [[ ${v1[i]:-0} -gt ${v2[i]:-0} ]]; then
                echo "⛔  LATEST_RELEASE is higher :: [$1 > $2]"
                echo "⚠️  Double-check that you've pulled/merged the latest version before continuing." | tee -a $GITHUB_STEP_SUMMARY
                echo "⛔  Project version [$2] needs to be higher than latest release [$1], please adjust the version in [notifications_utils/version.py]" | tee -a $GITHUB_STEP_SUMMARY
                return 2
              fi
            done
            echo "⚠️  Versions are equal :: [$1 == $2]"
            echo "⛔  Project version [$2] needs to be higher than latest release [$1], please adjust the version in [notifications_utils/version.py]" | tee -a $GITHUB_STEP_SUMMARY
            return 1
          }

          compare_versions "${{ steps.release.outputs.version_release }}" "${{ steps.project.outputs.version_project }}"

      - name: Build [${{ matrix.python-version }}]
        run: uv build

      - uses: pavelzw/pytest-action@v2
        with:
          job-summary: false
          verbose: false
          emoji: false
          custom-arguments: --junitxml=reports/pytest-unit.xml

      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: PyTest Tests
          path: reports/pytest-*.xml
          reporter: java-junit
          only-summary: true
          use-actions-summary: false
          badge-title: PYTEST
